body {
  margin: 0;
  color: #ffffff;
  font-family: 'Spoqa Han Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240, 244, 247);
  background: linear-gradient(-70deg,  #202020, #000000);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Background circles start */
.circle {
  position: fixed;
  border-radius: 50%;
  background: linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, 0)), url(./assets/card-gradient.png);
  background-size: cover;
}
.circles {
  position: fixed;
  height: 270px;
  width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.circle-1 {
  height: 300px;
  width: 300px;
  top: 100px;
  left: -50px;
  opacity: 0.8;
  animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
  animation-iteration-count: infinite;
  animation-name: float;
  -webkit-animation-name: float;
  animation-duration: 6s;
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
  animation-direction: alternate; 
}

.circle-2 {
  height: 240px;
  width: 240px;
  bottom: 40px;
  right: -100px;
  opacity: 0.8;
  animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
  animation-iteration-count: infinite;
  animation-name: float;
  -webkit-animation-name: float;
  animation-duration: 6s;
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  animation-direction: alternate;
}
/* Background circles end */


/* ANIMATIONS */
@keyframes explode {
  0% { opacity: 1; }
  100% { transform: scale(1.2); opacity: 0; }
 }
 @keyframes float {
 
   0% {
     -webkit-transform: rotateX(0deg) translateY(0px);
     -moz-transform: rotateX(0deg) translateY(0px);
     -ms-transform: rotateX(0deg) translateY(0px);
     -o-transform: rotateX(0deg) translateY(0px);
     transform: rotateX(0deg) translateY(0px);
     }

   20% {
    -webkit-transform: rotateX(0deg) translateY(1px) translateX(5px);
    -moz-transform: rotateX(0deg) translateY(10px) translateX(5px);
    -ms-transform: rotateX(0deg) translateY(30px) translateX(5px);
    -o-transform: rotateX(0deg) translateY(40px) translateX(5px);
    transform: rotateX(0deg) translateY(8px) translateX(5px);
    }
 
   50% {
     -webkit-transform: rotateX(0deg) translateY(1px) translateX(5px);
     -moz-transform: rotateX(0deg) translateY(10px) translateX(5px);
     -ms-transform: rotateX(0deg) translateY(30px) translateX(5px);
     -o-transform: rotateX(0deg) translateY(40px) translateX(5px);
     transform: rotateX(0deg) translateY(10px) translateX(5px);
    }
   100% {
     -webkit-transform: rotateX(0deg) translateY(0px) translateX(1px);
     -moz-transform: rotateX(0deg) translateY(0px) translateX(1px);
     -ms-transform: rotateX(0deg) translateY(0px) translateX(1px);
     -o-transform: rotateX(0deg) translateY(0px) translateX(1px);
     transform: rotateX(0deg) translateY(0px) translateX(1px);
   }
 
 }

h1{
  font-size: 20px;
  font-weight: 300;
  padding-left: 30px;
  padding-bottom: 20px;
  color: #ffffff;
  width: 420px;
  line-height: 1.5em;
  text-align: left;
}

.card {
  width: 420px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  padding: 30px 30px 30px 30px;
  overflow: hidden;
}

/* slightly transparent fallback */
.backdrop-blur {
  background-color: rgba(255, 255, 255, .1);
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(35px)) or (backdrop-filter: blur(35px))) {
  .backdrop-blur {
    background: rgba(120, 120, 120, 0.1);
    -webkit-backdrop-filter: blur(35px);
    backdrop-filter: blur(35px);
  }
}

.card.profile {
  aspect-ratio: 1.8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: calc(23vh - 260px) auto 180px auto;
  font-size: 12px;
  font-weight: 600;
}

.card.profile>div {
  opacity: 0.8;
}

.profile-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.8;
  opacity: 0.8;
}

.profile-position {
  font-size: 14px;
  font-weight: 600;
  opacity: 0.8;
}


.App {
  width: 1000px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 48px 0;
}

.intro {
  color: #a7a7a7;
  margin-bottom: 20px;
  font-size: 14px;
}

/*********************/
/*    Theme Color    */
/*********************/

.blue {
  color: #bbaeff;
}

/*************/
/*    Tag    */
/*************/

a, a:visited {
  color: #eaecefc9;
  cursor: pointer;
}
h2 {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #eaecef;
  margin-bottom: 10px;
}

h3 {
  margin: 15px 0 5px 0;
}

header {
  flex-direction: column;
  display: block;
  text-align: center;
  font-weight: 100;
  box-sizing: border-box;
  font-size: 42px;
  padding: 100px 60px;
  width: 100%;
  color: #a7a7a7;
}

header>div {
  margin-right: 15px;
}

footer {
  width: 1000px;
  padding: 20px 20px 80px 20px;
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
}

.header-bold {
  font-weight: 400;
  color: #ffffff;
  opacity: 0.9;
}

.head{
  margin-top: 10px !important;
}

.head.cv {
  padding-left: 4px;
}

.head.cv>.title>span {
  font-size: 16px;
}

.cv>li {
  font-size: 14px;
}

.cv>li, .ex.title, .ex-ul>li {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.ex.title {
  font-weight: bold;
}

.cv .year {
  font-size: 12px;
  color: #f7b012;
  margin-right: 10px;
}

.cv .title:not(:first-child), .ex.title:not(:first-child) {
  margin-top: 10px;
}

.cv .title{
  border-left: 5px solid #f7b012;
  padding-left: 10px;
}

.cv .title>span {
  font-weight: 600;
  font-size: 0.95em;
}

.tag {
  font-size: 12px;
  color: #f7b012;
  margin: 4px 0;
}

.list {
  width: 6px;
  height: 6px;
  background-color: #2a2a2a;
  border-radius: 50px;
  margin-right: 15px;
}

.list.second {
  background-color: #bfbfbf !important;
}
.ex-ul {
  margin: 5px 0;
  font-size: 14px;
  list-style: none;
  padding-left: 10px;
}

.desc {
  font-size: 14px;
  margin-bottom: 20px;
}

.contacts {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.contact-point {
  margin-right: 10px;
  border-radius: 3px;
  font-size: 14px;
  padding: 1px 6px;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: column;
}

.git {
  background-color: #000;
  color: #FFF;
}
.fb {
  background-color: #0e55b5;
  color: #FFF;
}

/*********************/
/*    Responsible    */
/*********************/
@media (max-width: 720px) {
  body {
    font-size: 0.9em;
  }
  header {
    font-size: 28px;
  }

  .profile-name {
    font-size: 16px;
  }

  .profile-position {
    font-size: 12px;
  }

  .App {
    width: 100%;
    flex-direction: column;
  }

  .card {
    min-width: 280px;
    width: 300px;
  }

  .header-bold {
    font-weight: 300;
  }

  .list {
    margin-right: 8px;
  }

  .cv {
    font-size: 14px;
  }

  .tag {
    margin-left: 14px;
  }
  .ex.title {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  footer {
    width: 100%;
    box-sizing: border-box;
  }
}