.contact {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  
    height: 480px;
    width: 300px;
    background-image: url(../images/card.png);
    background-size: cover;
    border-radius: 5px;
    color: #FFF;
    box-sizing: border-box;
    padding: 30px 25px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-title {
    font-size: 26px;
    font-weight: 300;
}

.contact-desc {
    font-size: 14px;
}

.contact-desc a {
    color: #FFF !important;
    text-decoration: none;
}


/*********************/
/*    Responsible    */
/*********************/
@media (max-width: 720px) { 

    .contact {
      margin: 50vh auto 80px auto;
    }
  }