.App {
  width: 1000px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 80px 0;
}

.left {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.right {
  width: 700px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro {
  color: #a7a7a7;
  margin-bottom: 20px;
}

/*********************/
/*    Theme Color    */
/*********************/

.blue {
  color: #bbaeff;
}

/*************/
/*    Tag    */
/*************/

a, a:visited {
  color: #0366d6;
  text-decoration: none;
}
h2 {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #eaecef;
  margin-bottom: 10px;
}

h3 {
  margin: 15px 0 5px 0;
}

header {
    display: none;
    font-weight: 100;
    box-sizing: border-box;
    font-size: 42px;
    padding: 40px 0 0 0;
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header>div {
  margin-right: 15px;
}

footer {
  width: 1000px;
  padding: 20px 20px 80px 20px;
  font-size: 14px;
  border-top: 1px solid #eaecef;
  margin: 0 auto;
  
}

.header-bold {
  font-weight: 400;
  color: #333;
}

.head{
  margin-top: 10px !important;
}

.head.cv {
  padding-left: 10px;
}

.cv>li, .ex.title, .ex-ul>li {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.ex.title {
  font-weight: bold;
}

.cv .year {
  font-size: 12px;
  color: #a0a0a0;
  margin-right: 10px;
}

.cv .title:not(:first-child), .ex.title:not(:first-child) {
  margin-top: 10px;
}

.cv .title{
  border-left: 5px solid hsl(0, 0%, 93%);
  padding-left: 10px;
}

.tag {
  font-size: 12px;
  color: #a0a0a0;
  margin-left: 10px;
}

.list {
  width: 6px;
  height: 6px;
  background-color: #2a2a2a;
  border-radius: 50px;
  margin-right: 15px;
}

.list.second {
  background-color: #bfbfbf !important;
}
.ex-ul {
  margin: 5px 0;
  font-size: 14px;
  list-style: none;
  padding-left: 10px;
}

.desc {
  font-size: 14px;
  margin-bottom: 20px;
}

.contacts {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.contact-point {
  margin-right: 10px;
  border-radius: 3px;
  font-size: 14px;
  padding: 1px 6px;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.git {
  background-color: #000;
  color: #FFF;
}
.fb {
  background-color: #0e55b5;
  color: #FFF;
}
.kakao {
  background-color: #f7b012;
  color: #FFF;
}

/*********************/
/*    Responsible    */
/*********************/
@media (max-width: 720px) { 
  .App {
    width: 100%;
    flex-direction: column;
  }

  header {
    flex-direction: column;
    display: block;
    font-weight: 100;
    box-sizing: border-box;
    font-size: 42px;
    padding: 100px 60px;
    width: 100%;
    height: 100vh;
  }

  .header-bold {
    font-weight: 300;
  }

  .list {
    margin-right: 8px;
  }
  
  .left {
    width: 100%;
  }

  .cv {
    font-size: 14px;
  }

  .tag {
    margin-left: 14px;
  }
  .ex.title {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .right {
    width: 100%;
    box-sizing: border-box;
  }
  
  footer {
    width: 100%;
    box-sizing: border-box;
  }
}