.App {
  width: 1000px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 80px 0;
}

.left {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.right {
  width: 700px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro {
  color: #a7a7a7;
  margin-bottom: 20px;
}

/*********************/
/*    Theme Color    */
/*********************/

.blue {
  color: #bbaeff;
}

/*************/
/*    Tag    */
/*************/
a, a:visited {
  color: #0366d6;
  text-decoration: none;
}
h2 {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #eaecef;
  margin-bottom: 10px;
}

h3 {
  margin: 10px 0;
}

.head{
  margin-top: 10px !important;
}

.head.cv {
  padding-left: 10px;
}

.cv>li, .ex.title, .ex-ul>li {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.ex.title {
  font-weight: bold;
}

.cv .year {
  font-size: 12px;
  color: #a0a0a0;
  margin-right: 10px;
}

.cv .title:not(:first-child), .ex.title:not(:first-child) {
  margin-top: 10px;
}

.cv .title{
  border-left: 5px solid hsl(0, 0%, 93%);
  padding-left: 10px;
}

.tag {
  font-size: 12px;
  color: #a0a0a0;
  margin-left: 10px;
}

.list {
  width: 6px;
  height: 6px;
  background-color: #2a2a2a;
  border-radius: 50px;
  margin-right: 15px;
}

.list.second {
  background-color: #bfbfbf !important;
}
.ex-ul {
  margin: 5px 0;
  font-size: 14px;
  list-style: none;
  padding-left: 10px;
}