body {
  margin: 0;
  color: #ffffff;
  font-family: 'Spoqa Han Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240, 244, 247);
  background: linear-gradient(-70deg,  #202020, #000000);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
